/*FONTS
font-family: 'Quicksand', sans-serif;
font-family: 'Rubik Dirt', cursive;
font-family: 'Share Tech Mono', monospace;
*/
/*NAVAR*/

.navbar-nav{
    width: 100%;
    justify-content: flex-end;
    padding: 0 2.5rem;
}
.bi-rocket{
    font-size: 50px;
    padding: 15px;
}

/*FIRST SECTION*/
.title{
    text-align: center;
}
h1{
    font-family: 'Rubik Dirt', cursive;
    font-size: 3.5rem;
}
h2, h3{
    font-family: 'Quicksand', sans-serif;
}
h3{
    font-size: 1.3rem;
}
.bi-person-circle{
    font-size: 13rem;
    padding: 0;
}
/*SECOND SECTION*/
.laptop-tech{
    width: 45rem;
}
@media only screen and (max-width: 768px) {
    #rocket-icon{
        display: none;
    }
  }