/*FONTS
font-family: 'Quicksand', sans-serif;
font-family: 'Rubik Dirt', cursive;
font-family: 'Share Tech Mono', monospace;
*/
/*NAVAR*/

.navbar-nav{
    width: 100%;
    justify-content: flex-end;
    padding: 0 2.5rem;
}
.bi-rocket{
    font-size: 50px;
    padding: 15px;
}

/*FIRST SECTION*/
.title-section{
    text-align: center;
}
h1{
    font-family: 'Rubik Dirt', cursive;
    font-size: 3.5rem;
}
h2, h3{
    font-family: 'Quicksand', sans-serif;
}
h3{
    font-size: 1.3rem;
    padding: 0 4rem;
}
.bi-person-circle{
    font-size: 13rem;
    padding: 0;
}
/*SECOND SECTION*/
.laptop-tech{
    width: 45rem;
}
/*THIRD SECTION*/
.about-section{
    background-color: #15151e;
    color: rgb(255, 255, 255);
    height: 500px;
}
.about-section div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-section div h1{
    font-size: 2.5rem;
    padding-bottom: 8px;
}
@media only screen and (max-width: 768px) {
    #rocket-icon{
        display: none;
    }
  }